.loginContainer{
    height: 100%;
    width: 100%;
    background-image: url("../assets/LoginPage-bg.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card{
    padding: 50px;
}
.login-card .ant-card-body{
    height: 600px;
    width: 400px;
    box-shadow: 20px;
    background-color: white;
    border-radius: 20px;
}
.login-card .ant-card-body Form h4{
    color: #414785;
    display: inline-block;
    justify-content: flex-start;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    margin: 10px;
    
}
.login-card .ant-card-body Form h2{
    align-items: center;
    align-content: center;
    text-align: center;
    color: #414785;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: -9px;
    margin-bottom: 10px;
    padding: 30px;
}
.login-card-new-account-section{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.login-button{
    background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 8%;
}
.login-button-content{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.login-button .ant-btn{
    margin: 0px;
    padding: 0px;
}
.new-account-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.create-button-content{
    color: #1b2acf;
    font-size: 18px;
    font-weight: 600;
}
.new-account-section .ant-btn{
    margin: 0px;
    padding: 0px;
}