.navbarcontainer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    transition: transform .5s ease-in-out;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    gap: 50px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    padding: 15px 0;
    transition:  0.32s ease-in-out;
}
.logo{
    margin-top: 0px;
    padding: 0px;
    text-align: center;
 }
 .nav-links-div{
    background-color: transparent;
 }
 /*Styling Links*/
 .nav-links-div ul {
    margin: 0px;
    padding: 0px;
 }
 .nav-links{
    display: flex;
    list-style: none; 
    width: auto;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
 }
 .nav-links li a{
    text-decoration: none;
    color: white;
 }
 .nav-links li a:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-top: 2px solid #262626;
   border-bottom: 2px solid #262626;
   transform: scaleY(2);
   opacity: 0;
   transition: .3s;
 }
 .nav-links li a:after{
   content: '';
   position: absolute;
   top: 2px;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #262626; 
   transform: scale(0);
   opacity: 0;
   transition: .3s;
   z-index: -1;

 }
 .nav-links li a:hover{
   color: #fff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
 }
 .nav-links li {
    position: relative;
 }
 .navbar-button-group{
   margin-left: 10px;
   display: flex;
   gap:20px;
 }
.navbar-login-button{
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
}
.navbar-register-button{
   align-items: center;
   padding: 10px;
   background: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
   width: 150px;
   border-radius: 10px;
   font-weight: 700;
}
.navbar-register-button:hover{
   background: transparent;
}
.navbar-login-button:hover{
   background: transparent;
}
